<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Liste des questions">
    <meta name="author" content="Étudiant">
    <title>Liste des Questions</title>
    <link rel="stylesheet" href="/DigitAdvisory/View/BackOffice/css/read.css">
</head>
<body>

<header>
    <h1>Liste des Questions</h1>
</header>

<main>
    <section>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Question</th>
                    <th>Choix 1</th>
                    <th>Choix 2</th>
                    <th>Choix 3</th>
                    <th>Bonne réponse</th>
                    <th>Point</th>
                    <th>ID Quiz</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>

            <tbody>
                <?php
                if (!empty($questions)) {
                    foreach ($questions as $q) {
                ?>
                <tr>
                    <td><?php echo $q['id_question']; ?></td>
                    <td><?php echo $q['question']; ?></td>
                    <td><?php echo $q['choix1']; ?></td>
                    <td><?php echo $q['choix2']; ?></td>
                    <td><?php echo $q['choix3']; ?></td>
                    <td><?php echo $q['bonne_reponse']; ?></td>
                    <td><?php echo $q['point']; ?></td>
                    <td><?php echo $q['id_quiz']; ?></td>

                    <td>
                        <a href="/DigitAdvisory/Controller/QuestionController.php?action=edit&id=<?php echo $q['id_question']; ?>">
                            Modifier
                        </a>
                    </td>

                    <td>
                        <a href="/DigitAdvisory/Controller/QuestionController.php?action=delete&id=<?php echo $q['id_question']; ?>"
                           onclick="return confirm('Supprimer cette question ?');">
                            Supprimer
                        </a>
                    </td>
                </tr>
                <?php
                    }
                } else {
                ?>
                <tr>
                    <td colspan="10">Aucune question trouvée</td>
                </tr>
                <?php
                }
                ?>
            </tbody>
        </table>

        <br>

        <a href="/DigitAdvisory/Controller/QuestionController.php?action=create">
            Ajouter une question
        </a>

        <br><br>

        <a href="/DigitAdvisory/Controller/QuizController.php?action=read">
            Retour aux quiz
        </a>
    </section>
</main>

</body>
</html>