<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Liste des quiz">
    <meta name="author" content="Étudiant">
    <title>Liste des Quiz</title>
    <link rel="stylesheet" href="/DigitAdvisory/View/BackOffice/css/read.css">
</head>
<body>

<header>
    <h1>Liste des Quiz</h1>
</header>

<main>
    <section>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                    <th>Questions</th>
                </tr>
            </thead>

            <tbody>
                <?php
                    if (!empty($quizzes))
                    {
                        foreach($quizzes as $quiz)
                        {
                ?>
                <tr>
                    <td><?php echo $quiz['id_quiz']; ?></td>
                    <td><?php echo $quiz['titre']; ?></td>
                    <td><?php echo $quiz['description']; ?></td>
                    <td>
                        <img src="/DigitAdvisory/public/uploads/<?php echo $quiz['image']; ?>" alt="Image quiz" width="80">
                    </td>
                    <td><?php echo $quiz['date_creation']; ?></td>
                    <td>
                        <a href="/DigitAdvisory/Controller/QuizController.php?action=edit&id=<?php echo $quiz['id_quiz']; ?>">
                            Modifier
                        </a>
                    </td>
                    <td>
                        <a href="/DigitAdvisory/Controller/QuizController.php?action=delete&id=<?php echo $quiz['id_quiz']; ?>"
                           onclick="return confirm('Supprimer ce quiz ?');">
                            Supprimer
                        </a>
                    </td>
                    <td>
                        <a href="/DigitAdvisory/Controller/QuestionController.php?action=create&id_quiz=<?php echo $quiz['id_quiz']; ?>">
                            Ajouter une question
                        </a>
                    </td>
                </tr>
                <?php
                        }
                    }
                    else
                    {
                ?>
                <tr>
                    <td colspan="8">Aucun quiz trouvé</td>
                </tr>
                <?php
                    }
                ?>
            </tbody>
        </table>

        <br>

        <a href="/DigitAdvisory/Controller/QuizController.php?action=create">Ajouter un quiz</a>
    </section>
</main>

</body>
</html>